@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: "";
    width: 50px;
    height: 50px;
    border: 4px solid transparent;
    border-top: 4px solid #fff;
    border-radius: 100px;
    animation-name: loader;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
