.header {
  padding: 40px 0;
}
.backlink {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;

  &:hover {
    color: var(--color-yellow);
  }
}
.iconback {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
  stroke: currentColor;
}
.title {
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  color: var(--color-yellow);

  @media (min-width: 768px) {
    font-size: 48px;
  }
}
.body {
  font-size: 18px;
}
