.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  flex-wrap: wrap;
}
.pagination_items {
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    width: 100%;
    flex: 1;
  }
}
.pagination_item {
  padding: 10px 15px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  line-height: 20px;
  cursor: pointer;
  user-select: none;

  @media (max-width: 768px) {
    padding: 10px 0;
    flex: 1;
  }

  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}
.pagination_item_active {
  background-color: var(--color-yellow);
  color: var(--color-text);
  border-color: var(--color-yellow);
  font-weight: bold;
}
.pagination_button {
  padding: 10px 15px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s;

  &:hover {
    background-color: var(--color-yellow);
    color: var(--color-text);
    border-color: var(--color-yellow);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.pagination_button_prev {
  width: auto;
  border-radius: 4px;
  margin: 0 10px 0 0;

  @media (max-width: 768px) {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
.pagination_button_next {
  border-radius: 4px;
  margin: 0 0 0 10px;

  @media (max-width: 768px) {
    width: 100%;
    margin: 10px 0 0 0;
  }
}
