.post {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  transition: all 0.4s;
  border-radius: 2px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
  }
}
.title {
  width: 100%;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 24px;
}
.body {
  width: 100%;
  font-size: 18px;
  margin: 0 0 20px 0;
  color: rgba(255, 255, 255, 0.5);
}
.readmore {
  background: var(--color-yellow);
  color: var(--color-text);
  padding: 10px 20px;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.4s;

  &:hover {
    background: #fff;
  }
}
