.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  margin: 0 0 20px 0;
  color: var(--color-yellow);
}
.text {
  margin: 0 0 10px 0;
  font-size: 14px;
}
