:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-yellow: #ffdb4d;
  --color-text: #222;
}
#root {
  display: flex;
  width: 100%;
  min-height: 100dvh;
}
main {
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100dvh;
}
a {
  color: #fff;
  text-decoration: underline;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: 1140px) {
    max-width: 1100px;
    padding: 0;
  }
}
